.left {
  margin-top: 50px;
  width: 30%;
  min-width: fit-content;
  height: inherit;
  min-height: fit-content;
  display: flex;
  flex-direction: column;

  background-color: #005c85;
}
.profilePic {
  background-image: url("../media/profilePic.jpeg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 1;
  width: 250px;
  margin: 40px auto;
  border-radius: 50%;
}
.left-section-heading {
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0 15px;
  padding-bottom: 10px;
  width: fit-content;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
}

.info {
  margin: 25px 15px;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info a {
  text-decoration: none;
  color: rgb(178, 227, 255);
  transition: all 0.3s ease;
}
.info a:hover {
  color: rgb(5, 100, 243);
  text-decoration: underline;
}
.contact-info-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
